.footer {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  .container{

  }
  .top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;
  }
  .logo {
    font-size: 14px;
    font-weight: 900;
    color: #ffffff;
    margin-right: 40px;

  }
  .service-menu{
    display: flex;
    justify-content: center;
    align-items: center;

    .menu{
      font-size: 14px;
      font-weight: 300;
    }
  }
  .lang-area{
    display: flex;
    justify-content: flex-end;

    .lang-btn{
      width: 93px;
      height: 32px;
      background: #111111;
      position: relative;
      font-size: 12px;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        top: 12px;
        right: 12px;
        bottom: 12px;
        position: absolute;


      }
    }
  }


  .copyright{
    font-size: 10px;
    font-weight: 300;
    color: #555555;
    display: flex;
    justify-content: center;

  }

}
